@use "../components/button";
@use "../variables";
@use "../mixins";

// Hero
.hero{
    position: relative;
    padding: 23px 14px 47px ;
    margin-top: 20px;
    width: 100%;
    min-height: 426px;
    border-radius: 30px;
    background: #FFDBCE;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    @include mixins.screen(lg) {
        min-height: 596px;
    }

    &__thumb{
        position: absolute;
        top: 0;
        right: 27px;
        width: 960px;
        height: 384px;
        object-fit: cover;
        aspect-ratio: 160 / 71;

        @include mixins.screen(md) {
            width: 700px;
            object-fit: contain;
        }
    }

    &__content{
        position: absolute;
        z-index: 1;
        max-width: 370px;
        text-align: center;
        display: none;

        @include mixins.screen(lg) {
            display: block;
        }
    }

    &__heading{
        color: #323232;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.25;
    }

    &__desc{
        margin-top: 12px;
        color: #3E3E3E;
        font-family: Quicksand;
        font-size: 1.2rem;
        line-height: 1.65;
    }

    &__btn{
        margin-left: 50%;
        translate: -50%;

        margin-top: 12px;
        min-width: 142px;
        height: 30px;
        background: #ED5A25;
        border-radius: 999px;

        color: #FFF;
        font-family: Quicksand;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.43;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    &__action{
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #FFECE5;

        display: flex;
        align-items: center;
        justify-content: center;

        color: #ED5A25;
        font-size: 0.9rem;
    }
}

// ===Hero List===
.hero-list{
    margin-top: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mixins.screen(lg) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    &__col{
        width: 188px;
        max-width: 100%;
        text-align: center;

        @include mixins.screen(md) {
            width: 156px;
        }
    }

    &__thumb{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #FFF4F1;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-left: 50%;
        translate: -50%;
    }

    &__img{
        width: 40px;
        height: 40px;
        object-fit: cover
    }

    &__title{
        margin-top: 12px;
        color: #3E3E3E;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.56;
    }
}

// ===Thumbnail===
.thumbnail{
    margin-top: 40px;

    &__left, &__right{
        height: 251px;
        border-radius: 30px;
        background: #FFF4F1;
        overflow: hidden;

        &--img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// ===Product===
.product{
    margin-top: 40px;

    &__top{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        &-btn{
            min-width: 150px;
            height: 32px;
            border-radius: 99px;
            border: 1px solid #ED5A25;
            box-shadow: 14px 21px 47.1px 0px #FEFEFE;

            color: #ED5A25;
            font-family: Quicksand;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.43;

            transition: all ease 0.4s;

            &:hover{
                background: var(--Primary-Colors, #ED5A25);
                color: #fff;
            }
        }

        .active{
            min-width: 160px;
            background: var(--Primary-Colors, #ED5A25);
            color: #fff;
        }
    }

    &__list{
        --columns: 5;
        --spacing: 24px;

        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * var(--spacing));
        row-gap: var(--spacing);

        @include mixins.screen(xl) {
            --columns: 4;
        }

        @include mixins.screen(lg) {
            --columns: 3;
        }

        @include mixins.screen(md) {
            --columns: 2;
        }
    }

    &__item{
        padding: 12px;
        border-radius: 30px;
        border: 1px solid #F2F2F2;
        background: #FFF;

        width: calc(100% / var(--columns) - var(--spacing));
        margin-left: var(--spacing);
    }

    &__thumb{
        position: relative;
        border-radius: 20px;
        width: 100%;
        height: 172px;
        overflow: hidden;
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    &__icon{
        position: absolute;
        top: 16px;
        right: 14px;

        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.90);

        display: flex;
        align-items: center;
        justify-content: center;

        .icon{
            font-size: 1.3rem;
            color: #ED5A25;
        }
    }

    &__content{
        margin-top: 12px;
        margin-left: 7px;
        max-width: 162px;
    }

    &__title{
        color: #000;
        font-family: Poppins;
        font-weight: 400;
    }

    &__price{
        margin-top: 8px;
        color: #ED5A25;
        font-family: Quicksand;
        font-weight: 600;
    }

    &__btn{
        margin-top: 12px;
        margin-left: 50%;
        translate: -50%;
        min-width: 190px;

        color: #ED5A25;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        transition: all ease 0.4s;

        &-top{
            min-width: 150px;
            background: #fff;
            border: 1px solid #FFF4F1;
        }

        &:hover{
            background: #ED5A25;
            color: #fff;
        }
    }

    .active{
        background: #ED5A25;
        color: #fff;
    }
}

// Top Seller
.top-seller{
    position: relative;
    margin-top: 40px;
    min-height: 295px;
    border-radius: 30px;
    background: #ED5A25;
    overflow: hidden;

    display: flex;
    align-items: center;

    @include mixins.screen(md) {
        justify-content: center;
    }

    &__content{
        margin-left: 110px;
        max-width: 370px;
        text-align: center;
        position: absolute;
        z-index: 1;

        @include mixins.screen(md) {
            margin-left: 0;
        }
    }

    &__heading{
        color: #F2F2F2;
        font-size: 3.2rem;
        font-weight: 600;
    }

    &__desc{
        margin-top: 14px;
        color: #FFF;
        font-family: Quicksand;
        font-size: 1.6rem;
        line-height: 1.5;
    }

    &__btn{
        margin-top: 16px;
        border: 1px solid #ED5A25;
        background: #F5F6F8;
        color: #ED5A25;

        font-size: 1.4rem;

        transition: all ease 0.4s;

        &:hover{
            background: #ED5A25;
            color: #fff;
        }
    }

    &__action{
        background: transparent;
        color: inherit;
    }

    &__img{
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// ======Product List======
.product-list{
    margin-top: 40px;

    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mixins.screen(md) {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
    }

    &__heading{
        color: #323232;
        font-size: 3.2rem;
        font-weight: 600;
    }

    &__turn{
        display: flex;
        align-items: center;
        gap: 15px;

        &--text{
            color: #404040;
            font-family: Quicksand;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
        }

        &--wrap-btn{
            display: flex;
            gap: 8px;
        }

        &--btn{
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: #FFECE5;
            color: #ED5A25;
            font-size: 1.2rem;

            transition: all ease 0.4s;

            display: flex;
            align-items: center;
            justify-content: center;

            &:hover{
                background: #ED5A25;
                color: #fff;
            }

            &.active{
                background: #ED5A25;
                color: #fff;
            }
        }
    }

    &__inner{
        margin-top: 35px;

        & > .thumbnail{
            margin-top: 0;
        }
    }

    &__bottom{
        margin-top: 38px;
    }
}

// Product Sell Well
.product-sell-well{
    margin-top: 40px;

    &__inner{
        margin-top: 63px;
        display: flex;
        align-items: flex-start;
        gap: 40px;

        @include mixins.screen(lg) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__inner-left{
        flex-grow: 1;
        padding: 20px 16px;
        min-width: 454px;
        height: 100%;
        border-radius: 30px;
        background: #ED5A25;
    }

    &__thumb{
        width: 100%;
        height: 224px;
        object-fit: cover;
    }

    &__content{
        margin-top: 4px;
        text-align: center;
    }

    &__title{
        color: #FFF4F1;
        font-size: 3.2rem;
        font-weight: 600;
    }

    &__btn{
        margin-left: 50%;
        translate: -50%;

        margin-top: 16px;
        min-width: 117px;

        border-radius: 100px;
        border: 1px solid #FFF;
        background: #FFF;

        color: #ED5A25;
        font-family: Quicksand;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.43;

        display: flex;
        align-items: center;
        justify-content: center;

        & > .icon-btn{
            margin-left: 11px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #FFECE5;

            font-size: 1rem;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__inner-right{
        margin-left: auto;

        & > .product__list{
            --columns: 3;

            @include mixins.screen(xl) {
                --columns: 2;
            }

            @include mixins.screen(xl) {
                --columns: 3;
            }

            @include mixins.screen(md) {
                --columns: 2;
            }
        }

        
    }
}

// =====Product New======
.product-new{
    margin-top: 40px;

    &__inner{
        margin-top: 20px;
    }
}

// =====Product Block====
.product-block{
    margin-top: 40px;

    &__col{
        padding: 15px 16px 36px;
        border-radius: 20px;
        border: 1px solid #F2F2F2;
        background: #FFF;
    }

    &__top{
        padding: 0 17px;
        width: 100%;
        height: 52px;
        border-radius: 10px;
        background: #FFF4F1;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__heading{
        color: #404040;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.56;
    }

    &__wrap-btn{
        display: inline-block;
        display: flex;
        gap: 5px;

        .active{
            background: #ED5A25;
            color: #fff;
        }
    }

    &__btn{
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #fff;
        font-size: 1.2rem;
        color: #ED5A25;

        transition: all ease 0.4s;

        &:hover{
            background: #ED5A25;
            color: #fff;
        }
    }

    &__item{
        margin-top: 25px;
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 1.55rem;
    }

    &__title{
        color: #000;
        font-family: Poppins;
        font-weight: 500;
    }

    &__price{
        margin-top: 4px;
        color: #ED5A25;
        font-family: Quicksand;
        font-weight: 600;
    }

    &__star{
        margin-top: 4px;
        color: #787777;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.43;

        display: flex;
        align-items: center;
        gap: 4px;

        & > strong{
            color: #3E3E3E;
            font-weight: 600;
        }

        & > .icon{
            color: #ED5A25;
            font-size: 1.2rem;
        }
    }

    &__thumb{
        width: 80px; 
        height: 70px;
        object-fit: cover;
        border-radius: 10px;
    }
}

// News Promotion
.news-promotion{
    margin-top: 40px;

    & > .product-list__top{
        @include mixins.screen(md) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__inner{
        margin-top: 20px;
    }

    &__item{
        padding: 23px;
        border-radius: 20px;
        border: 1px solid #EDEDED;
        background: #FFF;
    }

    &__thumb{
        width: 100%;
        height: 265px;
        object-fit: cover;
        border-radius: 15px;
    }

    &__desc{
        margin-top: 20px;
        color: #404040;
        font-size: 1.55rem;
        line-height: 1.4;
    }
}

// Top Seller Bottom
.top-seller-bottom{
    margin-bottom: 57px;
    background: #782000;
}