<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-top__wrap">
                <a href="./" class="header-top__left">Về chúng tôi</a>
                <div class="header-top__right">
                    <div class="header-top__action">
                        <a href="#!" class="header-top__link"
                            >Trung tâm hỗ trợ</a
                        ><i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="header-top__action">
                        <a href="#!" class="header-top__link">ENG</a
                        ><i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="header-top__action">
                        <i class="fa-regular fa-circle-user"></i
                        ><a href="#!" class="header-top__link">Tài khoản</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-inner">
        <div class="container">
            <div class="header-inner__wrap">
                <a href="./"
                    ><img src="../images/logo.png" alt="" class="logo"
                /></a>
                <form action="" class="form-search" autocomplete="off">
                    <label for="" class="form-search__label">
                        All categories
                    </label>
                    <input
                        type="text"
                        class="form-search__input"
                        placeholder="Search"
                    />
                    <button class="form-search__btn">
                        <i class="fa-solid fa-magnifying-glass icon"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom__wrap">
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#!" class="nav__link">Trang chủ</a>
                        </li>
                        <li class="nav__item">
                            <label for="check-menu" class="nav__label">
                                Thẻ điện thoại
                            </label>
                            <input type="checkbox" id="check-menu" hidden />
                            <ul class="menu">
                                <li class="menu__item">
                                    <label
                                        for="check-sub-menu"
                                        class="menu__label"
                                    >
                                        Gift card
                                    </label>
                                    <input
                                        type="checkbox"
                                        id="check-sub-menu"
                                        hidden
                                    />
                                    <div class="sub-menu">
                                        <!-- Col 1 -->
                                        <ul class="sub-menu__col">
                                            <li class="sub-menu__item">
                                                IMo girf car
                                            </li>
                                            <li class="sub-menu__item">
                                                WTFast card
                                            </li>
                                            <li class="sub-menu__item">
                                                Nike Gift card
                                            </li>
                                            <li class="sub-menu__item">
                                                iTunes Gift card
                                            </li>
                                            <li class="sub-menu__item">
                                                Victoria's Secret Gift card
                                            </li>
                                            <li class="sub-menu__item">
                                                IMo girf car
                                            </li>
                                            <li class="sub-menu__item">
                                                WTFast card
                                            </li>
                                            <li class="sub-menu__item">
                                                Nike Gift card
                                            </li>
                                            <li class="sub-menu__item">
                                                iTunes Gift card
                                            </li>
                                        </ul>
                                        <!-- Col 2 -->
                                        <ul class="sub-menu__col">
                                            <li class="sub-menu__item">
                                                IMo girf car
                                            </li>
                                            <li class="sub-menu__item">
                                                WTFast card
                                            </li>
                                            <li class="sub-menu__item">
                                                Nike Gift card
                                            </li>
                                            <li class="sub-menu__item">
                                                iTunes Gift card
                                            </li>
                                            <li class="sub-menu__item">
                                                Victoria's Secret Gift card
                                            </li>
                                            <li class="sub-menu__item">
                                                IMo girf car
                                            </li>
                                            <li class="sub-menu__item">
                                                WTFast card
                                            </li>
                                            <li class="sub-menu__item">
                                                Nike Gift card
                                            </li>
                                            <li class="sub-menu__item">
                                                iTunes Gift card
                                            </li>
                                        </ul>
                                        <!-- Col 3 -->
                                        <ul class="sub-menu__col">
                                            <li class="sub-menu__item">
                                                IMo girf car
                                            </li>
                                            <li class="sub-menu__item">
                                                WTFast card
                                            </li>
                                            <li class="sub-menu__item">
                                                Nike Gift card
                                            </li>
                                            <li class="sub-menu__item">
                                                iTunes Gift card
                                            </li>
                                            <li class="sub-menu__item">
                                                Victoria's Secret Gift card
                                            </li>
                                            <li class="sub-menu__item">
                                                IMo girf car
                                            </li>
                                            <li class="sub-menu__item">
                                                WTFast card
                                            </li>
                                            <li class="sub-menu__item">
                                                Nike Gift card
                                            </li>
                                            <li class="sub-menu__item">
                                                iTunes Gift card
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu__item">Wallet gift card</li>
                                <li class="menu__item">iTunes Gift card</li>
                                <li class="menu__item">WTFast time card</li>
                                <li class="menu__item">WTFAST</li>
                            </ul>
                        </li>
                        <li class="nav__item">
                            <label class="nav__label"> Nạp game </label>
                        </li>
                    </ul>
                </nav>
                <div class="header-bottom__phone">
                    <i class="fa-solid fa-phone"></i>
                    <a href="tel:1920010800" class="header-bottom__number">
                        Hotline: 19200 10800
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
