<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <%- include("./partials/header.ejs") %>
        <main>
            <div class="container">
                <!-- Hero -->
                <div class="hero">
                    <img
                        src="./images/hero-img.png"
                        alt=""
                        class="hero__thumb"
                    />
                    <section class="hero__content">
                        <h1 class="hero__heading">
                            Super saving gift card for new season
                        </h1>
                        <p class="hero__desc">
                            Don't miss our limited-time offers! Discover current
                            deals today!
                        </p>
                        <button class="btn hero__btn">
                            View all
                            <a href="#!" class="hero__action"
                                ><i class="fa-solid fa-arrow-right"></i
                            ></a>
                        </button>
                    </section>
                </div>

                <!-- Hero list -->
                <div class="hero-list">
                    <article class="hero-list__col">
                        <div class="hero-list__thumb">
                            <img
                                src="./images/hero-list-img-1.svg"
                                alt=""
                                class="hero-list__img"
                            />
                        </div>
                        <h3 class="hero-list__title">Nạp rút nhanh chóng</h3>
                    </article>
                    <article class="hero-list__col">
                        <div class="hero-list__thumb">
                            <img
                                src="./images/hero-list-img-2.svg"
                                alt=""
                                class="hero-list__img"
                            />
                        </div>
                        <h3 class="hero-list__title">Giảm giá sâu</h3>
                    </article>
                    <article class="hero-list__col">
                        <div class="hero-list__thumb">
                            <img
                                src="./images/hero-list-img-3.svg"
                                alt=""
                                class="hero-list__img"
                            />
                        </div>
                        <h3 class="hero-list__title">Hoàn Tiền</h3>
                    </article>
                    <article class="hero-list__col">
                        <div class="hero-list__thumb">
                            <img
                                src="./images/hero-list-img-4.svg"
                                alt=""
                                class="hero-list__img"
                            />
                        </div>
                        <h3 class="hero-list__title">Bảo Mật</h3>
                    </article>
                    <article class="hero-list__col">
                        <div class="hero-list__thumb">
                            <img
                                src="./images/hero-list-img-5.svg"
                                alt=""
                                class="hero-list__img"
                            />
                        </div>
                        <h3 class="hero-list__title">Uy Tín</h3>
                    </article>
                </div>
            </div>
        </main>

        <%- include("./partials/footer.ejs") %>

        <script type="module" src="./main.js"></script>
    </body>
</html>
