<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <%- include("./partials/header.ejs") %>
        <ul>
            <li style="background: orange">item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li style="background: orange">item</li>
        </ul>
        <%- include("./partials/footer.ejs") %>

        <script type="module" src="./main.js"></script>
    </body>
</html>
