@use "./reset";

// Layout
@use "./layout/grid";
@use "./layout/header";
@use "./layout/footer";

// Pages
@use "./pages/sign-in";
@use "./pages/sign-up";
@use "./pages/home";
@use "./pages/collection";
@use "./pages/payment";

// Components
@use "./components/button";
@use "./components/form";

// Common
*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
}

b,
strong {
    font-weight: bold;
}

i,
em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

input,
button,
select,
textarea {
    font-size: inherit;
    font-family: inherit;
}

button{
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
}

a{
    text-decoration: none;
    color: inherit;
}

